.header {
    background-color: $color-primary-light;
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;

    &__left {
        width: auto;
        &--search {
            background: rgba(255, 255, 255, .2);
            border: none;
            padding: .6rem 1.5rem;
            outline: none;
            border-radius: 2px;
            color: $color-white;

            &::placeholder {
                color: $color-white;
            }
        }
    }

    &__right {
        width: 10%;
    }
    &__left,
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    &__icon {
        width: 2rem;
        height: 2rem;
        padding: .5rem;
        border-radius: 2px;
        color: $color-white;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, .2);
        }
    }
}
