::select-ms-expand {
    display: none;
}
.form {
    &__group {
        margin-bottom: 1rem;
        width: 100%;
    }

    &__label {
        display: block;
        font-size: 1.6rem;
        transition: all .3s ease;
    }

    &__input--border {
        width: 90%;
        display: block;
        padding: .5rem 0;
        margin: 1rem auto;
        border: 1px solid $gray-light-1;
        outline: none;
        border-radius: .3rem;
    }
    
    &__input {
        border: none;
        border-bottom: 2px solid rgb(117, 113, 113);
        display: block;
        font-size: 1.6rem;
        margin: 1rem 0;
        outline: none;
        position: relative;
        padding: 1rem 0;
        width: 100%;

        &--show-password {
            position: relative;
            top: 4rem;
            left: 39rem;
            z-index: 10;
            height: 1.8rem;
            width: 1.8rem;
            cursor: pointer;
            box-shadow: 0px 0.1rem 0.2rem rgba(0,0,0,.2);
        }
        &:placeholder-shown + .form__label {
            opacity: 0;
            top: -1rem;
        }

        // &:focus {
        //     border-bottom: 2px solid $color-primary;
        // }
        // &:valid {
        //     border-bottom: 2px solid #10ac84;
        // }
    }


    
    &__checkbox {
        display: none;    

        &--checked {
            width: .8rem;
            height: .8rem;
            display: inline-block;
            outline: 2px solid $color-primary;
            outline-offset: 2px;
            border-radius: 1px;
            margin-right: 1rem;
        }
    }

    &__checkbox:checked + &__checkbox--checked,
    &__checkbox:checked + .task__checkbox--checked  {
        background: $color-primary;
    }


    &__checkbox-switched {
        width: 90%;
        margin: 0 auto;
        &--title {
            font-family: 'lato';
            font-weight: bold;
            font-size: 1.4rem;
            padding: 1rem 0;
        }
        &--label {
            position: relative;
            margin: 1rem 0;
            cursor: pointer;
        }

        &--input {
            appearance: none;
            display: none;

            &:checked ~ .form__checkbox-switched--indicator{
                left: 3.3rem;
            }
        }

        &--span {
            position: relative;
            display: block;
            width: 5rem;
            height: 1.8rem;
            background: #aaaaaa;
            border-radius: 4rem;
        }

        &--indicator {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.7rem;
            width: 1.7rem;
            transform: scale(.8);
            background-color: #fff;
            border-radius: 50%;
            transition: left .3s ease;
        }
    }
}
    