//Colors
$color-primary: #e44232;
$color-primary-light: #db4c3f;
$color-white: #fff;

$color-blue:rgba(36, 111, 224, .8);
$color-green:rgba(5, 133, 39, .8);
$color-purple:rgba(105, 47, 194, .8);

$gray-light-1: #dbdbdb;
$gray-light-2: #525252;

$shading-gray: #ddd;

$default-font-size: 1.6rem;
$small-font-size: 1.4rem;