.tasks {
    grid-column: 5/12;
    width: 100%;
    margin: 0 auto;

    &__title {
        color: #202020;
        display: block;
        padding: 4rem 0;
        font-size: 1.8rem;
        font-weight: 700;
    }
}