//Base
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color:#fafafa;
    box-sizing: border-box;
}


.form {
    &__group {
        margin-bottom: 1rem;
        width: 100%;
    }

    &__label {
        display: block;
        font-size: 1.6rem;
        transition: all .3s ease;
    }

    &__input {
        border: none;
        border-bottom: 2px solid rgb(117, 113, 113);
        display: block;
        font-size: 1.6rem;
        margin: 1rem 0;
        outline: none;
        position: relative;
        padding: 1rem 0;
        width: 100%;

        &:placeholder-shown + .form__label {
            opacity: 0;
            top: -1rem;
        }

        &:focus {
            border-bottom: 2px solid $color-primary;
        }
        &:valid {
            border-bottom: 2px solid #10ac84;
        }
    }


    
    &__checkbox {
        display: none;    

        &--checked {
            width: 1rem;
            height: 1rem;
            display: inline-block;
            outline: 3px solid $color-primary;
            outline-offset: 2px;
            border-radius: 1px;
            margin-right: 1rem;
        }
    }

    &__checkbox:checked + &__checkbox--checked  {
        background: $color-primary;
    }

}
