body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

li, a {
    text-decoration: none;
    list-style-type: none;
}

.heading-secondary {
    font-weight: bold;
    display: block;
}