.u-color-white {color: $color-white !important; }
.u-color-primary {color: $color-primary !important; }

.u-mb-small {margin-bottom: .5rem !important}
.u-mb-small-1 {margin-bottom: 1rem !important}
.u-mb-small-2 {margin-bottom: 2rem !important}

.u-mb-medium {margin-bottom: 4rem !important;}